.App {
  text-align: center;
  min-height: 100vh;
}

.main-content {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 30px;
  flex-wrap: wrap;
}

body {
  padding-bottom:none; /* adjust based on footer height */
}

html {
  scroll-behavior: smooth;
}
